/FirstJSF/nbproject/private/
/FirstJSF/build/
/FirstJSFProject/nbproject/private/
/FirstJSFProject/build/
/FirstJSFProject/dist/
/TEST/nbproject/private/
/TEST/dist/
/TEST/build/
/WebApplication1/nbproject/private/
/WebApplication1/build/
/WebApplication1/dist/
/FirstJSFNetbeans8/nbproject/private/
/FirstJSFNetbeans8/build/
/FirstJSFNetbeans8/dist/